# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.env.test

# Cypress secrets
cypress.env.json
cypress.env.*.json

# Cypress run artefacts
cypress/screenshots
cypress/videos
